
<div class="container mt-3">
    <app-product [categories]="categories" [product]="product" (saveEmitter)="saveProduct()"></app-product>
    <div class="display-6 text-center">
      Produtos Cadastrados:
    </div>
  
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table" id="productsTable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col" class="d-none d-md-table-cell">Descrição</th>
              <th scope="col">Preço</th>
              <th scope="col">Categoria</th>
              <th scope="col" class="d-none d-md-table-cell">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products"> <!--Mostrar um Produto de um array vázio de produtos-->
              <td>{{product.id}}</td>
              <td>{{product.name}}</td> <!--Nessa linha é nescessario acessar um elemento do array (product e não products)-->
              <td>{{product.description}}</td>
              <td>{{product.price | currency: 'BRL'}}</td>
              <td>{{product.category.name}}</td> <!--Entra em um objeto produto, que acessa a categoria e o nome-->
              <td >
                <span *ngIf="product.promotion" class="badge bg-success text-white me-1">P</span>
                <span *ngIf="product.newproduct" class="badge bg-primary text-white">L</span>
            </tr>
            <!-- Aqui virão as linhas dos produtos, por exemplo via *ngFor -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  